# Folder view configuration files
*.DS_Store
*.pydevproject

# Compiled Python files
*.pyc

# Log files
*.log
*.lp
*.ilp
*.mps

#Pickle files
*.pickle
*.p
*.pkl

# Folders
/CutSharing/__pycache__/
.settings/
